appdirs==1.4.3
bcrypt==3.1.2
certifi==2017.7.27.1
cffi==1.9.1
chardet==3.0.4
Django==1.10.5
django-extensions==1.7.6
idna==2.6
packaging==16.8
pycparser==2.17
pyparsing==2.2.0
requests==2.18.4
riotwatcher==2.0.2
six==1.10.0
urllib3==1.22
virtualenv==15.1.0
