/*DEBUG = False

ALLOWED_HOSTS = ['54.158.30.212']
ALLOWED_HOSTS.append('davidyoon.us')
STATIC_ROOT = os.path.join(BASE_DIR, "static/")*/

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.85);
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
div {
  display: block;
}
h1 {
  display: block;
}
h2 {
 display: block;
}
h3 {
  display: block;
}
h4 {
  display: block;
}
nav ul a:hover {
  background-color: transparent;
}
.text-color {
  color: white;
}
/* ########################top nav */
.dropdown-content {
  white-space: nowrap;
  position: absolute;
  top: 56px;
  left: 7px;
  opacity: 1;
  display: none;
}
.navbar-fixed {
  height: 50px;
  right: 0;
  left: 0;
}
.width-65 {
  margin: 0 auto;
  max-width: 730px;
}
.navcolor {
  background-color: white;
}
.navbar-fixed nav {
  line-height: 50px;
  min-height: 50px;
}
.themecolor {
  background-color: #EC6841;
}
.themecolor-text {
  color: #EC6841
}
.name-logo {
    position: absolute;
    color: #c71d1d;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}
.jumper:hover {
  background-color: white;
}
// .name-anime {
//   -webkit-animation-duration : 1.5s;
//   -webkit-animation-delay : 0.5s;
//   -webkit-animation-iteration-count :1;
// }
.jumper {
  background-color: white;
  -webkit-trasition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease
}
.margin-hor {
  margin-bottom: -14px;
  margin-top: -6px;
}
.topicon {
  width: 2rem;
  margin-top: .75rem;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .topicon {
    width: 2rem;
  }
}
nav .brand-logo {
  font-size: 1.75rem;
  color: #5e5e5e;
}
/* #############################PARALLAX*/
#top {
  min-height: 450px;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
/* .underline {
  background-color: white;
  width: 200px;
  height: 5px;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
} */
.intro {
  font-family: 'Nanum Gothic', sans-serif;
  /* margin-top: 80px; */
  font-size: 12px;
  display: block;
  position: relative;
}
.position1{

  margin-bottom: 25px;
  float: left;
}
.faceanime {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.img-rounded {
  border-radius: 6px;
  width: 300px;
  position: relative;
  margin: 0 auto;
}
.nameanime {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
}
.introduction {
  /* margin-top: 20px;  */
    font-size: 16px;
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-family: 'Nanum Pen Script', cursive;
    line-height: 1.2;
    margin: 0 auto;
}
.background1, .background2{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scaleY(0.9);
  height: 550px;
}
.background1 {
  margin-top: -1.5rem;
  background-image: url("../images/background6.jpg");
}
.background2 {
  background-image: url("../images/background7.jpg");
  opacity: 0.8
}
.marginbtm {
  margin-bottom: 0rem; !important
  margin-top: -1rem; !important
}
.tap-target-content {
  background-color: #EC6841
}
.tabs .indicator {
  background-color: #EC6841
}
.fadeout-text {
  opacity: 1;
  transition: opacity .25s;
  animation: 0;
}
.icon-block {
  text-align: center;
}
/*######################ABOUT ME##################### */
#aboutme {
  margin-top: -4rem;
  padding-top: 4rem; !important
}
div .me-icons {
  width: 125px;
  margin-top: 2.5rem;
}
.temp_hidden {
  opacity: 0;
  transform: translateX(0px);
}
/*########################PROJECT########################*/
#projects {
  margin-top: -6rem;
  padding-top: 5rem;
}
.lol {
  color: #FF9C00;
}
.survey {
  color: #01C73C;
}
.dashboard {
  color: #1976D3;
}
/* #########################Skills############################## */
.skills {
  margin-top: -6rem;
  padding-top: 5rem;
}
.temp-hidden {
  opacity: 0;
  transform: translateX(0px);
  line-height: 2.25;
  font-size: 1.1rem;
}
.skills-img img {
  width: 70px;
}
.lift-up {
  margin-top: -3rem;
}
/* #############################Footer################################# */
#contact h5 i {
  font-size: 40px;
  vertical-align: middle;
  margin-top: -0.26rem;
}
.page-footer {
  background-color: #EC6841; !important
  height: 300px; !important
}
#contact .topicon {
  width: 4rem;
  margin-right: -.1rem;
  margin-left: -.1rem;
  border-radius: 50%;
  margin-top: 2rem; !important
}
